<h1>dish details</h1>

<h2><%= @dish['name']%></h2>
<img src="<%= @dish['image_url'] %>" alt="">

<form action="/comments" method="post">
  <input type="hidden" name="dish_id" value="<%= @dish['id'] %>">
  <label for="">comment</label>
  <textarea name="body"></textarea>
  <button>post</button>
</form>

<% @comments.each do |comment| %>
  <p><%= comment['body'] %></p>
<% end %>
