<h1>contact us</h1>

<form action="/contact-us" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="">review</label>
  <textarea name="content" rows="8" cols="80"></textarea>
  <button>Create</button>
</form>
